@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Products database</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    </head>
    <body>
        
        @*<header class="topbar">
            <h1 class="fill">
                <a href="@routes.HomeController.index()">
                    Product database
                </a>
            </h1>
        </header>*@

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@routes.HomeController.index()">CRUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@routes.HomeController.list()">Products</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@routes.HomeController.showCreateForm()">Add product</a>
                </li>
            </ul>
        </div>
    </nav>



        <div class="container">
            @content
        </div>


    <script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    </body>
</html>
